<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guidian104.yellowcook">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-sdk
        android:minSdkVersion="15"
        android:maxSdkVersion="26"
        android:targetSdkVersion="24">
    </uses-sdk>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".video.capture.CaptueActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.CombineChartActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.PieChartActivity"
            android:launchMode="singleTask"/>
        <receiver
            android:exported="true"
            android:name="com.guidian104.yellowcook.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.yellowcook.aa"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>